<div class="row">
  <div class="col-lg-6">
    <legend class="text-muted">工单信息-information</legend>
    <div class="form-group">
      <label class="col-lg-5 control-label text-info">任务工单号:</label>
      <label class="control-label"><strong><%= @gongdan.number %></strong></label>
    </div>
    <div class="form-group">
      <label class="col-lg-5 control-label text-info">任务工单主题:</label>
      <label class="control-label"><strong><%= @gongdan.title %></strong></label>
    </div>
    <div class="form-group">
      <label class="col-lg-5 control-label text-info">任务工单建单人:</label>
      <label class="control-label"><strong><%= @gongdan.creator %></strong></label>
    </div>
    <div class="form-group">
      <label class="col-lg-5 control-label text-info">服务需求部门:</label>
      <label class="control-label"><strong><%= @gongdan.department %></strong></label>
    </div>
    <div class="form-group">
      <label class="col-lg-5 control-label text-info">服务需求联系人:</label>
      <label class="control-label"><strong><%= @gongdan.demander %></strong></label>
    </div>
    <div class="form-group">
      <label class="col-lg-5 control-label text-info">工单紧急程度:</label>
      <label class="control-label"><strong><%= @gongdan.emergent %></strong></label>
    </div>
    <div class="form-group">
      <label class="col-lg-5 control-label text-info">任务工单描述:</label>
      <label class="control-label"><strong><%= @gongdan.description %></strong></label>
    </div>
    <div class="form-group">
      <label class="col-lg-5 control-label text-info">工单处理组别:</label>
      <label class="control-label"><strong><%= @gongdan.appoint_department %></strong></label>
    </div>
    <div class="form-group">
      <label class="col-lg-5 control-label text-info">任务工单处理人:</label>
      <label class="control-label"><strong><%= @gongdan.appoint_worker %></strong></label>
    </div>
    <div class="form-group">
      <label class="col-lg-5 control-label text-info">工单协助处理人:</label>
      <label class="control-label"><strong><%= @gongdan.helpers %></strong></label>
    </div>

    <div class="form-group">
      <%= link_to '<i class="icon-share-alt"></i>详情'.html_safe, @gongdan, class: "btn btn-info btn-block" %>
    </div>
  </div>
  <div class="col-lg-6">
    <%= form_for(@gongdan) do |f| %>
        <% if @gongdan.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@gongdan.errors.count, "error") %> prohibited this gongdan from being saved:</h2>
              <ul>
                <% @gongdan.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <fieldset>
          <legend class="text-primary">移交－transfer</legend>
          <%= f.hidden_field :transfer_time %>
          <div class="form-group has-success">
            <label class="control-label" for="inputWarning">任务工单状态</label>
            <%= f.select :state, "#{render 'shared/pa/transfer_state'}".html_safe, {}, {class: "form-control"} %>
          </div>

          <div class="form-group has-success">
            <label class="control-label" for="inputWarning">移交工单原因</label>
            <%= f.text_area :transger_reson, class: "form-control", id: "inputTransferReson", placeholder: "移交工单原因" %>
          </div>

          <div class="form-group">
            <%= f.button(type: "submit", class: "btn btn-success") do %>
                提交
            <% end %>
            <%= link_to '返回', list_path, class: "btn btn-default" %>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>

